*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
    font-family: monospace;

}

h1, h2, p {
    margin-bottom: 1em;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    width: 100%;
    background: red;
    height: 100vh;
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emoji{
    font-size: 6em;
    user-select: none;
    transition: 500ms ;
    background: whitesmoke;
    padding: 0.5em;
    border-radius: 10px;
}

#random-emoji{
    background: rgb(30,30,30)
}



#emoji:hover{
    font-size: 10em;
    padding: 0.8em;
    transition: 500ms;
    transform: rotate(360deg);
}

#texto-usuario{
    background: whitesmoke;
}

#texto{
    font-size: 4em;
    background: greenyellow;
    padding: 0.5em;
    border-radius: 0.2em;
    transition: 500ms;
    box-shadow: 0px 0px 0px black;
    user-select: none;
}

#texto:hover{
    background: orange;
    box-shadow: 20px 20px 0px;
    transition: 500ms;
    transform: translate(-20px, -20px);
}

.quarterwidth{
    width: 25%;

}

.mediumwidth{
    width: 50%;
}

#color-selection{
    background: antiquewhite;
}

#color-output{
    width: 20vw ;
    height: 20vw;
    background: black;
    margin-bottom: 2em ;
}

.color-input{
    width: 100%;
}
#color-gradient{
    background: white;
}

